<div class="content-wrapper gray-background" style="padding-top:57px;">

    <div class="account-layout row">
      <div class="banner-spacing col-lg-10 col-lg-offset-1">
        
        <div class="account-layout-inner" style="padding-top: 15px;padding-bottom: 15px;">
          <div class="pull-left"><h1 class="account-header">My Account</h1></div>
  
          <div class="pull-right">
            <span class="noti-txt">notification</span>
            <label class="switch" *ngIf="profile?.email_notification" title="Disable Email Notifications">
              <input type="checkbox" name="email_notification" checked  (change)="emailNotification(this.id)" id="disable_notify">
              <span class="switch-btn round"></span>
            </label>
            <label class="switch" *ngIf="!profile?.email_notification" title="Enable Email Notifications">
              <input type="checkbox" name="email_notification" change="emailNotification(this.id)" id="enable_notify">
              <span class="switch-btn round"></span>
            </label>
          </div>
  
          <div class="clearfix"></div>
  
          <div class="account-content">
            <!-- Account Section -->
            <div class="account-section row no-margin">
  
              <!-- Accound section header -->
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                <div class="account-section-header">
                  <h3 class="account-section-title">Profile</h3>
                </div>
              </div>
  
              <!-- Account section content -->
              <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
                <!-- Account Section Content -->
                <div class="account-section-content row no-margin">
  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <div class="account-section-content-block">
                      <p class="account-section-text" *ngIf="profile?.login_by == 'manual'">{{profile?.email}}</p>
                      <p class="account-section-text account-gray-text">
                      Password <span>********</span>
                      </p>
                      <p class="account-section-text account-gray-text">
                      Phone <span>{{profile?.mobile}}</span>
                      </p>
                    </div>
                  </div>
  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <div class="account-section-content-block text-right">
                      <div>
                        <a href="/edit-account/{{id}}" class="account-section-link">Edit Profile</a>
                      </div>
                      
                      <div *ngIf="login_by == 'manual'">
                        <a href="/change-password/{{id}}" class="account-section-link">Change Password</a>
                      </div>
  
                      <div>
                        <a href="/delete-account/{{id}}" class="account-section-link">Delete Account</a>
                      </div>											
                    </div>
                  </div>
  
                </div>
                <!-- Account Section Content -->
  
              </div>
  
            </div>
            <!-- Account Section End -->
  
            <!-- Account Section -->
            <div class="account-section row no-margin">
  
              <!-- Accound section header -->
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                <div class="account-section-header">
                  <h3 class="account-section-title">Plan Details</h3>
                </div>
              </div>
  
              <!-- Account section content -->
              <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
  
                <div class="account-section-content row no-margin">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <div class="account-section-content-block">
                      <p class="account-section-text">{{active_plan?.title ? active_plan?.title : '-'}}</p>
                    </div>
                  </div>
  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <div class="account-section-content-block text-right">
                      <div>
                        <a href="/subscriptions/{{sub_profile_id}}" class="account-section-link">Change Plan</a>
                      </div>											
                    </div>
  
                    <div class="account-section-content-block text-right">
                      <div>
                        <a href="/billing-details/{{sub_profile_id}}" class="account-section-link">Billing Details</a>
                      </div>											
                    </div>
                  </div>
                </div>
              </div>
              <!-- Account section content -->
            </div>
            <!-- Account Section End -->
  
            <!-- Account Section -->
            <div class="account-section row no-margin">
  
              <!-- Accound section header -->
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                <div class="account-section-header">
                  <h3 class="account-section-title">Manage Profile</h3>
                </div>
              </div>
  
              <!-- Account section content -->
              <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
  
                <div class="account-section-content row no-margin">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <div class="">
                      <a class="account-profile">
                        <img src="{{subprofile?.picture}}">
                        {{subprofile?.name}}
                      </a>
                    </div>
                  </div>
  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <div class="account-section-content-block text-right">
                      <div>
                        <a href="/view-profiles" class="account-section-link">Manage Profile</a>
                      </div>											
                    </div>
                  </div>
                </div>
              </div>
              <!-- Account section content -->
            </div>
            <!-- Account Section End -->
            <!-- Account Section -->
            <div class="account-section row no-margin">
  
              <!-- Accound section header -->
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                <div class="account-section-header">
                  <h3 class="account-section-title">Card Details</h3>
                </div>
              </div>
  
              <!-- Account section content -->
              <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
  
                <div class="account-section-content row no-margin">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <div class="account-section-content-block">
                      <p class="account-section-text" *ngIf="profile?.card_last_four_number != ''">xxxx-xxxx-xxxx-{{profile?.card_last_four_number}}</p>
                      <p class="account-section-text" *ngIf="profile?.card_last_four_number == ''">-</p>
                    </div>
                  </div>
  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <div class="account-section-content-block text-right">
                      <div>
                        <a href="/add-card/{{sub_profile_id}}" class="account-section-link">Add Card</a>
                      </div>											
                    </div>
  
                    <div class="account-section-content-block text-right">
                      <div>
                        <a href="card-list/{{ sub_profile_id}}" class="account-section-link">Card Details</a>
                      </div>											
                    </div>
                  </div>
                </div>
              </div>
              <!-- Account section content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  