<style type="text/css">
.navbar-header {
    margin-right: 20px !important;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top nav-scroll {{black_bg}}" role="navigation" *ngIf="loadStatus">
	<div class="search-section" id="top-search-section">
		<form >
			<div class="input-group">
			    <input type="text" class="form-control" name="key" autocomplete="true" (keyup.enter)="getSearchModel(search_key)" [ngModel]="search_key" placeholder="Search.." id="search_key">
			    <div class="input-group-btn">
			      	<button class="btn btn-default" type="submit">
			        	<i class="glyphicon glyphicon-search"></i>
			        </button>
			    </div>
			</div>
		</form>
		<a (click)="hideSearch()" style="cursor: pointer;"><i class="fa fa-close top-close-icon"></i></a>
	</div>
	
	<div class="header_section" id="header-section">
		<div class="navbar-header left-align">
			 
			<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			</button>  -->
			<a class="navbar-brand hidden-xs" href="/home/{{sub_profile_id}}">
				<!-- <img ng-src="{{site_logo}}"> -->
				<img src="{{site_logo}}" class="hidden-xs">
			</a>
		</div>
		
		<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
		<div>
			<ul class="nav navbar-nav left-align">
			
				<li class="primary-menu hidden-sm">
					<a href="/home/{{sub_profile_id}}">Home</a>
				</li>
				<li class="primary-menu hidden-sm" *ngFor="let value of ActiveCategories">
					<a href="/browse/{{value.id}}">{{value.name}}</a>
				</li>
				<li class="primary-menu hidden-sm">
					<a href="/channels">Channels</a>
				</li>
				<li class="primary-menu hidden-sm">
					<a href="/browse/recent">Recently Added</a>
				</li>
				<li class="primary-menu hidden-sm">
					<a href="/title/wishlist">My List </a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right right-align">
				<li>
					<form style="padding-top: 9px;" class="hidden-xs">
					  	<input id="search-box" type="text" class="search-box" name="search_key" autocomplete="true" (keyup.enter)="getSearchModel(search_key)" [ngModel]="search_key" placeholder="Search.." (ngModelChange)="changeSearch($event)"/>
					  	<label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
					</form>
					<a class="search-box-xs visible-xs" (click)="searchShow()" style="cursor: pointer;"><i class="fa fa-search search-icon1"></i></a>
				</li>

				<li class="dropdown">
					  
					  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" style="position: relative;" (click)="redNotification()">
					    <i class="glyphicon glyphicon-bell"></i>
					    <span class="notification_badge" id="notification_badge" *ngIf="notifications_count > 0">{{notifications_count}}</span>
					  </a>
					  
					  <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
					    
					 
					   <div class="notifications-wrapper">
					   		<div *ngFor="let notification of notifications">
								
							    <a class="content" *ngIf="notification.pay_per_view_status" href="/video/{{ notification.admin_video_id}}">

							       <div class="notification-item">

							       	<div class="row">

								       	<div class="col-lg-3">
								       		<div  [ngStyle]="{ 'background-image': 'url(' + notification.img + ')'}" class="noti-img"></div>
								       	</div>

								       	<div class="col-lg-9">

								        <h4 class="item-title" style="text-overflow: ellipsis;">{{notification.title}}</h4>

								        <p class="item-info">
								        	{{notification.time}} 
								  
								    	</p>

								        </div>
							        </div>
							      </div>
							    </a>
						    </div>

						    <div *ngIf="notifications?.length == 0">	

						    	<p style="color: #fff;padding: 15px; margin: 0;">Sorry - You dont have any notifications</p>

						    </div>
					   </div>
					    <div class="notification-footer" *ngIf="notifications?.length > 0">
					    	<a href="/title/recent">
					    	<h4 class="menu-title pull-right">View all&nbsp;<i class="fa fa-chevron-right"></i></h4>
					    	</a>
					    	<div class="clearfix"></div>
					    </div>
					  </ul>
					  
				</li>
					
				<li class="dropdown nav-profile">
					<a class="dropdown-toggle hidden-xs l-height-27" data-toggle="dropdown" style="cursor: pointer;">
						<div class="nav-profile-img bg-img" style="background-image: url('https://admin.flashington.com/placeholder.png');"></div>
						<span class="nav-profile-name t-0">{{sub_profile?.name}}</span>
					 	<strong class="caret top-4">	</strong>
					</a>
					<a class="dropdown-toggle visible-xs" data-toggle="dropdown" style="cursor: pointer;">
						<!-- <div class="nav-profile-img bg-img" style="background-image: url({{sub_profile.picture}});"></div> -->
					</a>
					<ul class="dropdown-menu nav-profile-menu" style="margin-top: 10px;">
						<div class="border-bot more-profile padding15">
							<li class="row no-margin" *ngFor="let value of profiles">
								<a ><div class="nav-profile-img bg-img" style="background-image: url('https://admin.flashington.com/placeholder.png');"></div>
									<div class="nav-profile-name">{{value.name}} <span *ngIf="value.status == 1">(Main)</span></div></a>
							</li>

							<li>
								<a href="/manage-profiles">Manage Profile</a>
							</li>
						</div>

						<div class="padding15 more-profile1">
							<li>
								<a href="/account-setting/{{sub_profile_id}}">
									Your Account
								</a>
							</li>
							<li>
								<a style="width:230px;" href="/payment-details">
									Payment History
								</a>
							</li>
							<li>
								<a (click)="logout()" style="cursor: pointer;">
									Signout
								</a>
							</li>
						</div>
					</ul>
				</li>
			</ul>
		</div>
	</div>	
</nav>
