<div class="content" id="page_content">

  <div style="margin-top:80px !important;margin:5%; padding: 10px;">
  
  <div class="box-head" style="margin-bottom: 2%;">
     <h3>{{recent_video?.name}}</h3>
  </div>
  
  <!-- <p>{{no_results_found}}</p>
   -->
  
  <div class="text-center"  style="margin-top:40px !important"  *ngIf="no_results_found"> 
    <img src="{{no_results_found}}" class="img-responsive auto-margin height-250">
  </div>
  
  <div class="box video-box-row" *ngFor="let video of recent_video?.videos; let parentindex = index">
  
    <div id="{{childindex}}_{{parentindex}}" (mouseover)="hoverIn(this,childindex, parentindex, video.length)" (mouseleave)="hoverOut(this, childindex, parentindex, recent_video.videos.length)" class="tile col-lg-2 col-md-2 col-sm-2 col-xs-6 slide-box video-box" *ngFor="let value of video; let childindex = index">
        <div class="video-box-outer">
        
            <div class="tile-media" id="{{childindex}}_{{parentindex}}_img">
                <img class="tile-img" src="{{value.default_image}}" alt="" [ngStyle]="media_height"/><!-- 3rd image-->
                <!-- <img class="tile-img first" ng-src="{{value.default_image}}" alt=""/>
                <img class="tile-img first" ng-src="{{value.default_image}}" alt=""/> -->
            </div>
  
            <div class="tile-details">
  
              <div class="video_amount" *ngIf="value.amount > 0 && !value.pay_per_view_status">
                <!-- <span *ngIf="value.pay_per_view_status">PAID</span> -->
                <span>PAY- {{value.currency}} {{value.amount}}</span>
  
              </div>
              <!-- <a ui-sref="single_video({id : value.admin_video_id})">
                <div class="hover-icon" id="{{childindex}}_{{parentindex}}_div">
                  <i class="fa fa-play"></i>
                </div>
              </a> -->
              <span *ngIf="value.pay_per_view_status">
            <a href="/video/{{value.admin_video_id}}">
                  <div class="hover-icon" id="{{childindex}}_{{parentindex}}_div">
                    <i class="fa fa-play" id="{{childindex}}_{{parentindex}}_icon"></i>
                  </div>
                </a>
          </span>
          <span *ngIf="!value.pay_per_view_status">
            <a href="/payment-option/{{value.admin_video_id}}">
                  <div class="hover-icon" id="{{childindex}}_{{parentindex}}_div">
                    <i class="fa fa-play" id="{{childinndex}}_{{parentindex}}_icon"></i>
                  </div>
                </a>
          </span>
  
          <div class="tile-content" id="{{childindex}}_{{parentindex}}_desc">
                  <h3 class="tile-tit">{{value.title}}</h3>
  
                  <div class="row no-margin hidden-cls">
              <div class="pull-left">
                <div>
                  <div class="rating-symbol glyphicon"
                  [ngClass]="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">
                    
                  </div>
                  <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">
                    
                  </div>
                  <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">
                    
                  </div>
                  <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">
                    
                  </div>
                  <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">
                    
                  </div>
                </div>
              </div>
              <p class="video-season">
                <span>{{value.release_date && value.release_date !="0000-00-00" ? value.release_date:'' }}</span>
                <span class="video-epi-count">{{value.age}} / <i class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
                <span>{{value.duration}}</span>
              </p>
            </div>
  
            <div class="">
              <div class="video-des">
                <p class="video-des-inner">{{value.description}}</p>
              </div>
            </div>
  
            <div class="text-center">
              <a (click)="showVideoDrop(this, childindex, parentindex,recent_video.videos.length)" class="arrow"><img src="assets/img/down-arrow-red.png" class="arrow_down" /></a>
            </div>
          </div>
  
            </div>
        </div>
        
      </div>
   
     <div class="clearfix"></div>
  
     <div class="video-drop" style="margin-top: 1% !important;" id="{{lastindex}}_{{parentindex}}_video_drop" *ngFor="let value of video; let lastindex = index">
      <div class="tab-content">
  
        <!-- OVERVIEW SECTION  -->
          <div role="tabpanel" class="tab-pane active" id="{{lastindex}}_{{parentindex}}_overview">
            <div class="overview tab-section relative">
              <div class="close-tab">
              <a style="cursor: pointer;" (click)="closeDiv(lastindex,parentindex)" class="close-btn">
                <i class="fa fa-times"></i>
              </a>
            </div>
              
              <div class="tab-section-content row no-margin">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 no-pad overview-details">
                  
                </div>
  
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 no-pad">
                  <div class="linear-outer">
                    
                    <div class="linear">
                    </div>
                    <div class="rotate-img-outer">	
                      <div class="rotate-img highlight-img bg-img" [ngStyle]="{ 'background-image': 'url(' + value.default_image + ')'}" ></div>
                      <!-- <div class="rotate-img highlight-img bg-img" style="background-image: url({{value.video_gif_image}});"></div> -->
                    </div>
  
                    <div class="play-icon-outer">
                      <!-- <a ui-sref="single_video({id : value.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a> -->
  
                      <span *ngIf="value.pay_per_view_status">
                        <a href="/video/{{value.admin_video_id}}" class="play-icon"><i class="fa fa-play"></i></a>
                      </span>
                      <span *ngIf="!value.pay_per_view_status">
                        <a href="/payment-option/{{value.admin_video_id}}" class="play-icon"><i class="fa fa-play"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="home-new-deatils">
                <div class="overview-details" style="background-color: unset;">
                    <h3 class="content-tit">{{value.title}}</h3>
  
                    <div class="row no-margin hidden-xs">
                      <div class="pull-left">
                        <div>
                          <div class="rating-symbol glyphicon"
                          [ngClass]="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">
                            
                          </div>
                          <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">
                            
                          </div>
                          <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">
                            
                          </div>
                          <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">
                            
                          </div>
                          <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">
                            
                          </div>
                        </div>
                      </div>
                      <p class="content-txt bold seasons">
                        <span class="green-clr">{{value.release_date && value.release_date !="0000-00-00" ? value.release_date:'' }}</span>
                        <span class="epi-count">{{value.age}} / <i class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
                        <span>{{value.duration}}</span>
                      </p>
                    </div>
  
  
                      <div class="">
  
                      <div class="pull-left">
  
                        <a class="white-icon">
                          <i class="fa fa-thumbs-up"></i><span id="like_count_{{lastindex}}_{{parentindex}}">{{value.like_count}}</span>
                        </a>
                        <a class="white-icon">
                          <i class="fa fa-thumbs-down"></i><span id="dis_like_count_{{lastindex}}_{{parentindex}}">{{value.dis_like_count}}</span>
                        </a>
  
                      </div>
  
  
                      <div class="pull-left">
  
                        <div class="display_amount" *ngIf="value.amount > 0 && !value.pay_per_view_status" style="margin-left: 5px;">
                            <!-- <span *ngIf="recent_video.pay_per_view_status">PAID</span> -->
                            <span>PAY - {{value.currency}} {{value.amount}}</span>
                          </div>
  
                        </div>
  
                        <div class="clearfix"></div>
                    </div>
  
                    <div>
                      <p class="content-txt overview-des">{{value.description}}</p>
  
                      <!-- <p class="content-txt awards"><i class="fa fa-trophy"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
                    </div>
  
                    <div id="my-list-txt_{{lastindex}}_{{parentindex}}" class="pull-left">
                    
                      <a (click)="addWishlist(value.admin_video_id, lastindex, parentindex)" class="bold" id="" *ngIf="!value.wishlist_status" style="cursor: pointer;">
                        <button class="my-list">
                          <i class="fa fa-plus my-list-icon"></i>
                          <span class="my-list-txt">My List</span>
                        </button> 
                      </a>
                      <a (click)="removeWishlist(value.wishlist_status, value.admin_video_id,lastindex, parentindex)" class="bold" *ngIf="value.wishlist_status" style="cursor: pointer;">
                        <button class="my-list">
                          <i class="fa fa-check my-list-icon"></i>
                          <span class="my-list-txt">My List</span> 
                        </button>
                      </a>
                    </div>
                    <div class="banner-icon-sec hidden-xs">
                      <a id="like_{{lastindex}}_{{parentindex}}" style="cursor: pointer;"  *ngIf="value.is_liked == 1 || value.is_liked == 0" (click)="likeVideo(value.admin_video_id, lastindex, parentindex)">
                        <button class="banner-icon">
                          <i class="fa fa-thumbs-up"></i>
                        </button>
                      </a>
                      <a id="dis_like_{{lastindex}}_{{parentindex}}" style="cursor: pointer;" *ngIf="value.is_liked == -1 || value.is_liked == 0" (click)="dislikeVideo(value.admin_video_id, lastindex, parentindex)">
                        <button class="banner-icon">
                          <i class="fa fa-thumbs-down"></i>
                        </button>
                      </a>
                      <a data-toggle="modal" data-target="#myModal_{{lastindex}}_{{parentindex}}" title="Report as Spam" style="cursor: pointer;">
                        <button class="banner-icon">
                          <i class="fa fa-exclamation "></i>
                        </button>
                      </a>
                    </div>
  
                    <div class="modal fade" id="myModal_{{lastindex}}_{{parentindex}}" role="dialog">
                      <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content" style="background-color: #333;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title bold">Report This Video</h4>
                            </div>
                            <div class="modal-body">
                              <form (ngSubmit)="spamVideo(value.admin_video_id, lastindex, parentindex)">
                                  <div class="radio radio-danger" *ngFor="let spam_reason of spam_reasons">
                                        <input type="radio" name="reason" id="reason_{{value.admin_video_id}}_{{lastindex}}_{{parentindex}}" value="{{spam_reason.value}}">
                                        <label for="reason_{{value.admin_video_id}}_{{lastindex}}_{{parentindex}}">
                                            {{spam_reason.value}}
                                        </label>
                                    </div>
  
                                    {{spam_reason_value}}
                                    <p class="small bold text-center">If you report this video, you won't see again the same video in anywhere in your account except "Spam Videos". If you want to continue to report this video as same. Click continue and proceed the same.</p>
                                    <div class="text-right">
                                      <button type="submit" class="payment-submit">Submit</button>
                                    </div>
                                  </form>
                            </div>
                            
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
                            
            </div>
        </div>
        <!-- OVERVIEW SECTION END -->
  
  
  
        <!-- EPISODES-SECTION
                ======================================== -->
        <div role="tabpanel" class="tab-pane" id="{{lastindex}}_{{parentindex}}_episodes" *ngIf="value.is_genre">
          <div class="episodes-section tab-section tab-bg bg-img" [ngStyle]="{ 'background-image': 'url(' + value.default_image + ')'}">
            <div class="tab-overlay">
  
              <div class="episodes-section-inner tab-section-content tab-sec-inner contain-width">
                <h3 class="content-tit">{{value.sub_category_name}}</h3>
                <form class="season-select">
                  <div class="form-group styled-select black rounde">
                       <select id="exampleSelect1" [ngModel]="genres_name" (ngModelChange)="getSeasons(genres_name, childindex,parentindex,'_sessions', '_loader_seasons', value.genre_id);" name="genres_name">
                        <option value="">Select Seasons</option>
                        <option value="{{genrename.genre_id}}" *ngFor="let genrename of value.genre_names">
                        {{genrename.genre_name}}
                        </option>
                      </select>
                  </div>
                </form>
  
                <div class="episodes-list">
  
                <div id="{{childindex}}{{parentindex}}_loader_seasons" style="margin-top: 10px;text-align: center;display: none">
                    <img src="assets/img/ellipsis.svg" style="width: 40px;">
                  </div>
  
                  <div id="{{childindex}}{{parentindex}}_sessions" class="row">
  
                    <!-- <slick slides-to-show="{{epdisode_slide_to_show}}" slides-to-scroll="{{epdisode_slide_to_scroll}}" dots="false" class="episode-slider"> -->
                    <ngx-slick-carousel class="carousel slider multiple-items" #slickModal="slick-carousel" [config]="slideConfig" >   
                      <div *ngFor="let genre_list of value.first_part" ngxSlickItem>
  
                        <div class="episode-list-box">
  
                          <div class="episode-img bg-img" [ngStyle]="{ 'background-image': 'url(' + genre_list.default_image + ')'}">
                            <div class="episode-img-overlay">
                              <div class="episode-img-inner">
                                <span class="epi-count">{{genre_list.age}} / <i class="fa fa-eye"></i>&nbsp;{{genre_list.watch_count}}</span>
                              </div>
  
                              <div class="epi-play-icon-outer">
  
                                <span *ngIf="genre_list.pay_per_view_status">
                                    <a href="/video/{{ genre_list.admin_video_id}}" class="epi-play-icon"><i class="fa fa-play"></i></a>
                                  </span>
                                  <span *ngIf="!genre_list.pay_per_view_status">
                                    <a href="/payment-option/{{genre_list.admin_video_id}}" class="epi-play-icon"><i class="fa fa-play"></i></a>
                                  </span>
                              </div>
                            </div>
                          </div>
  
                          <div class="episode-list-content">
                            <div class="row">
                              <div class="col-md-8 col-sm-12">
                                <h4 class="epi-tit gray-color1 txt-overflow">{{genre_list.title}}</h4>
                              </div>
  
                              <div class="col-md-4 text-right hidden-sm">
                                <p class="bold gray-color1 epi-tit txt-overflow">{{genre_list.duration}}</p>
                              </div>
                            </div>
  
                            <div class="">
                              <p class=" gray-color1 overview-des more-link mt-0">{{genre_list.description}}</p>
                            </div>
                          </div>
  
                        </div>
                      
                      </div>
  
                    </ngx-slick-carousel>
  
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EPISODES-SECTION END-->
  
  
  
        <!-- TRAILERS SECTION -->
        <div role="tabpanel" class="tab-pane" id="{{lastindex}}_{{parentindex}}_trailers" *ngIf="value.is_genre || value.trailer_video">
          <div class="trailers-section tab-section tab-bg bg-img"  [ngStyle]="{ 'background-image': 'url(' + value.default_image + ')'}">
            <div class="tab-overlay">
  
              <div class="trailers-section-inner tab-section-content tab-sec-inner contain-width">
                <h3 class="content-tit">{{value.sub_category_name}}</h3>
  
                <div class="trailers-list row">
  
                  <!-- episode list box -->
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top" *ngFor="let trailer of value.genres" >
                    <div class="episode-list-box">
  
                      <div class="episode-img bg-img"  [ngStyle]="{ 'background-image': 'url(' + trailer.genre_image + ')'}" >
                        <div class="episode-img-overlay">
  
                          <div class="epi-play-icon-outer">
                            <a href="/genre_video/{{trailer.genre_id}}" class="epi-play-icon">
                              <i class="fa fa-play"></i>
                            </a>
                          </div>
                        </div>
                      </div>
  
                      <div class="episode-list-content">
                        <div class="row no-margin">
                          <div class="">
                            <h4 class="epi-tit gray-color1">{{trailer.genre_name}}</h4>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
  
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top" *ngIf="value.trailer_video">
                    <div class="episode-list-box">
  
                      <div class="episode-img bg-img" [ngStyle]="{ 'background-image': 'url(' + value.default_image + ')'}">
                        <div class="episode-img-overlay">
  
                          <div class="epi-play-icon-outer">
                            <a href="/trailer_video/{{value.admin_video_id}}" class="epi-play-icon">
                              <i class="fa fa-play"></i>
                            </a>
                          </div>
                        </div>
                      </div>
  
                      <div class="episode-list-content">
                        <div class="row no-margin">
                          <div class="">
                            <h4 class="epi-tit gray-color1">{{value.title}}</h4>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
  
        <!-- MORE LIKE SECTION  -->
        <div role="tabpanel" class="tab-pane" id="{{lastindex}}_{{parentindex}}_more-like">
          <div class="morelike-section tab-section tab-bg bg-img" [ngStyle]="{ 'background-image': 'url(' + value.default_image + ')'}">
            <div class="tab-overlay">
  
              <div class="morelike-section-inner tab-section-content tab-sec-inner contain-width">
                <h3 class="content-tit">{{value.sub_category_name}}</h3>
  
                <div class="morelike-list row">
  
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" *ngFor="let sub_video of value.sub_videos">
                    <div class="episode-list-box">
  
                      <div class="episode-img bg-img" [ngStyle]="{ 'background-image': 'url(' + sub_video.default_image + ')'}">
                        <div class="episode-img-overlay">
                          <div class="episode-img-inner">
                            <p class="new-epi">{{sub_video.title}}</p>
                          </div>
  
                          <div class="epi-play-icon-outer">
                            <!-- <a ui-sref="single_video({id : sub_video.admin_video_id})" class="epi-play-icon">
                              <i class="fa fa-play"></i>
                            </a> -->
  
                            <span *ngIf="sub_video.pay_per_view_status">
                                <a href="/video/{{sub_video.admin_video_id}}" class="epi-play-icon"><i class="fa fa-play"></i></a>
                              </span>
                              <span *ngIf="!sub_video.pay_per_view_status">
                                <a href="/payment-option/{{sub_video.admin_video_id}}" class="epi-play-icon"><i class="fa fa-play"></i></a>
                              </span>
                          </div>
  
                          <div class="duration_more">
                            <span>{{sub_video.duration}}</span>		
                          </div>
                        </div>
                      </div>
  
                      <div class="episode-list-content">
                        <div class="row no-margin">
                            <div class="pull-left">
                              <div>
                                <div class="rating-symbol glyphicon"
                            [ngClass]="{'glyphicon-star-empty' : (sub_video.ratings < 1), 'glyphicon-star' : (sub_video.ratings >= 1)}">
                              
                            </div>
                            <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (sub_video.ratings < 2), 'glyphicon-star' : (sub_video.ratings >= 2)}">
                              
                            </div>
                            <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (sub_video.ratings < 3), 'glyphicon-star' : (sub_video.ratings >= 3)}">
                              
                            </div>
                            <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (sub_video.ratings < 4), 'glyphicon-star' : (sub_video.ratings >= 4)}">
                              
                            </div>
                            <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (sub_video.ratings < 5), 'glyphicon-star' : (sub_video.ratings >= 5)}">
                              
                            </div>
                              </div>
                            </div>
                            <p class="content-txt bold seasons">
                              <span class="green-clr hidden-sm">{{value.release_date && value.release_date !="0000-00-00" ? value.release_date:'' }}</span>
                              <span class="epi-count hidden-sm hidden-md">{{sub_video.age}} / <i class="fa fa-eye"></i>&nbsp;{{sub_video.watch_count}}</span>
                              <!-- <span>{{sub_video.duration}}</span> -->
                            </p>
                          </div>
  
                          <div>
                            <p class="content-txt overview-des more-link">{{sub_video.description}}</p>
                          </div>
                      </div>
  
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MORE LIKE SECTION END -->
  
  
  
        <div role="tabpanel" class="tab-pane" id="{{lastindex}}_{{parentindex}}_details">
            <div class="details-section tab-section tab-bg bg-img" [ngStyle]="{ 'background-image': 'url(' + value.default_image + ')'}">
              <div class="tab-overlay">
                <div class="details-section-inner tab-section-content tab-sec-inner contain-width details_section_tab">
                  <h3 class="content-tit">{{value.title}}</h3>
                  <div class="row col-sm-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="detailsItem detailsMedia col-md-2">
                      <h4>Directors</h4>
                      <ul class="list-unstyled">
                        <li *ngFor="let director of value.directors" class="listLabel">
                          <a href="/director/{{director.id}}">{{director.name}}</a></li>
                      </ul>
                      <h4>Writers</h4>
                      <ul class="list-unstyled">
                        <li *ngFor="let writer of value.writers" class="listLabel">
                          <a href="/writer/{{writer.id}}">{{writer.name}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="detailsItem detailsMedia col-md-2">
                      <h4>Actors</h4>
                      <ul class="list-unstyled">
                        <li *ngFor="let actor of value.actors" class="listLabel">
                          <a href="/actor/{{actor.id}}">{{actor.name}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="detailsItem detailsMedia col-md-2">
                      <h4>Category</h4>
                      <ul class="list-unstyled">
                        <li class="listLabel">
                          <a>{{value.sub_category_name}}</a>
                        </li>
                      </ul>
                      <div class="clear-fix"></div>
                      <h4>Publish Date</h4>
                      <ul class="list-unstyled">
                        <li class="listLabel">
                          <p class="content-txt bold seasons">
                            <span class="green-clr hidden-sm">{{value.release_date  && value.release_date !="0000-00-00" ? value.release_date:''}}</span>
                          </p>
                        </li>
                      </ul>
                      <h4>Duration</h4>
                      <ul class="list-unstyled">
                        <li class="listLabel">
                          <p class="content-txt bold seasons">
                            <span>{{value.duration}}</span>
                          </p>
                        </li>
                      </ul>
                    </div>
                    <div class="detailsItem detailsMedia col-md-2">
                      <h4>Ratings</h4>
                      <div class="mt-3">
                        <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}"></div>
                        <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}"></div>
                        <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}"></div>
                        <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}"></div>
                        <div class="rating-symbol glyphicon" [ngClass]="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}"></div>
                      </div>
                      <h4>Age</h4>
                      <ul class="list-unstyled">
                        <li class="listLabel">
                          <p class="content-txt bold seasons">
                            Recommended for ages {{value.age}} and up
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
  
      <div class="drop-tab hidden-xs">
  
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a style="cursor:pointer" (click)="dynamicContent(lastindex, parentindex,'overview')" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
            </li>
  
            <li role="presentation" *ngIf="value.is_genre">
              <a style="cursor:pointer" (click)="dynamicContent(lastindex,parentindex,'episodes')" aria-controls="episodes" role="tab" data-toggle="tab">Episodes</a>
            </li>
  
            <li role="presentation" *ngIf="value.is_genre || value.trailer_video">
              <a style="cursor:pointer" (click)="dynamicContent(lastindex,parentindex,'trailers')" aria-controls="trailers" role="tab" data-toggle="tab">Trailers &amp; More</a>
            </li>
  
            <li role="presentation">
              <a style="cursor:pointer" (click)="dynamicContent(lastindex,parentindex,'more-like')" aria-controls="more-like" role="tab" data-toggle="tab">More Like This</a>
            </li>
  
            <li role="presentation" >
              <a style="cursor:pointer" (click)="dynamicContent(lastindex,parentindex,'details')" aria-controls="details" role="tab" data-toggle="tab">Details</a>
            </li>
          </ul>		
        
      </div>
    </div>
  
  </div>
  
  <div id="data_loader" style="margin-top: 5px;text-align: center;display: none">
    <img src="assets/img/ellipsis.svg" style="width: 40px;">
  </div>
  
  <div class="clearfix"></div>
  
  </div>
  