.tile-img {
    max-height: 420px;
    object-fit: fill;
}
.tile-media {
    /*border: 2px solid #141414;*/
    height: auto !important;
    text-align: center;
}
.tile {
    height: auto !important;
}
.slick-initialized .slick-slide {
    display: inline-block !important;
    height: 100% !important;
    padding: 0 10px;
}
.tab-overlay {
    background: rgba(0, 0, 0, .90);
}
.box-head h3 {
    font-size: 18px;
    color: #e5e5e5;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}
.video-box-row {
    font-size: 14px;
    white-space: normal;
}
.video-drop{
    margin-top: 6px !important;
}

/*.slide-box {
	width: 16% !important;
}*/

.slide-image img{
    width: 100%;
}
.box-head h3{

    font-size: 18px;
	color: #e5e5e5;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;

	margin:0;

}
.video-head a{
    font-size: 13px;
    color: #167ac6;
}

/*.video-box-outer {

	margin: 0px 5px;

}*/


.slick-track {
    /*width:100% !important;*/
}
.slide-image{
    width: 100%;
    height: 110px !important;
    overflow: hidden;
    position: relative;
}

.slide-image img{
    width: 100%;
    min-height: 100%;
}

.slick-initialized .slick-slide {
    display: block;
  /*  padding: 5px;*/
}

.slick-prev, .slick-next{
    font-weight: bold;
    padding: 0;
    display: inline-block;
    width: 30px;
    line-height: 7px;
    position: absolute;
  	background: #000;
    opacity: 0.7;
    z-index: 1000;
    /*height: 74%;*/
    height:calc(100% - 102px);
    
 }

 .arrow_down {
    height: 9px;width:29px;left:0;right:0;margin: 0 auto;
 }

.slick-prev {
   
        left: 0;
        
}

.slick-next{

        right: 0;

}

.slick-prev:hover,.slick-prev:active,.slick-prev:focus{
    /*background-color: #bbb;*/
    background: #000;
        opacity: 0.7;
        z-index: 1000;
        color: #fff;
}

.slick-next:hover,.slick-next:active,.slick-next:focus{
    /*background-color: #bbb;*/
    background: #000;
        opacity: 0.7;
        z-index: 1000;
        color: #fff;
}
  


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .slide-image {
        width: 100%;
        height: 90px;
        overflow: hidden;
    }
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .slide-image {
        width: 100%;
        height:123px;
        overflow: hidden;
    }
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    margin-left: -5px;
}

.active_img {
	border: 4px solid #fff !important;
}

.active_img:after {
    width: 0;
	height: 0;
	border-top: solid 10px #fff;
	border-left: solid 25px transparent;
	border-right: solid 25px transparent;
	content: '';
	position: absolute;
	left: 40%;
    bottom: -5%;
    z-index: 100;
}
.tile-media {
    border: 4px solid #141414;
    height: 141px;
}

.post{
	/*margin-bottom: 20px;*/
     -webkit-animation: somename 0.7s;
    -moz-animation: somename 0.7s;
    animation: somename 0.7s;

}

/* Required */

.hidden{
	opacity: 0;
	display: block !important;
}
.visible{
	opacity: 1;
}
.height-250{
    max-height: 300px;
}
