<!-- <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})"> -->
  <div class="main-content">

    <div class="login-form" style="padding-top: 100px;padding-bottom: 40px;">

        <div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 billing-white-bg" *ngIf="subscribed_plans?.plans.length > 0">
	        	<div class="row">
	        		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 zero-padding billing-bg-img" style="background-image: url(assets/img/billing-back.jpg);">
	        			<div class="billing-bg">
		        			<h3 class="billing-head txt-overflow"><i class="fa fa-calendar"></i> &nbsp;Billing Details</h3>
		        			<p class="bill-line"></p>

		        			<h4 class="billing-sub-head txt-overflow"><i class="fa fa-hand-o-right"></i><span style="margin-left:19px;">Next Billing Date</span></h4>
		        			<p class="billing-para">{{active_plan?.data.expiry_date}}</p>
		        			<p class="bill-line"></p>

		        			<h4 class="billing-sub-head txt-overflow"><i class="fa fa-tags  fa-rotate-90"></i><span style="margin-left:17px;">{{active_plan?.subscription.title}}</span></h4>
		        			<p class="billing-para">{{active_plan?.data.currency}}{{active_plan?.data.amount}} / {{active_plan?.subscription.plan}} Months</p>

		        			<p class="bill-line"></p>

		        			<a href="subscriptions/{{sub_profile_id}}" class="text-right white-clr"><h4><i class="fa fa-angle-double-right"></i>&nbsp; View Plan Details</h4></a>

		        			<div *ngIf="active_plan?.data.is_cancelled == 0 && active_plan?.data.subscription_amount > 0">

		        			<p class="bill-line"></p>

		        			<p>Pause your subscription autorenewal to take a break on the payment</p>

		        			<button  class="paynow-btn1" data-toggle="modal" data-target="#cancel_subscription_form"><i class="fa fa-times"></i>&nbsp;Pause Autorenewal</button>
		        			</div>

		        			<div class="modal fade" id="cancel_subscription_form" role="dialog">
							    <div class="modal-dialog">
							      	<!-- Modal content-->
							      	<div class="modal-content" style="background-color: #333;">
							        	<div class="modal-header spam">
							          		<button type="button" class="close" data-dismiss="modal">&times;</button>
							          		<h4 class="modal-title bold">Enter reason for cancellation</h4>
							        	</div>
							        	<div class="modal-body">
							        		<form (ngSubmit)="cancel_subscription(cancel_reason)">
								          		<div class="form-data">
								          			<textarea class="form-control" [ngModel]="cancel_reason" name="cancel_reason" required style="resize: none"></textarea>
								          		</div>
								                <div class="text-right">
								                	<button type="submit" class="payment-submit">Submit</button>
								                </div>
							                </form>
							        	</div>
							      	</div>
							    </div>
							</div>

		        			<div *ngIf="active_plan?.data.is_cancelled == 1 && active_plan?.data.subscription_amount > 0">

		        			<p class="bill-line"></p>

		        			<p>Your subscription autorenewal is paused. Please activate autorenewal and enjoy your videos</p>

		        			<button (click)="enable_subscription()" class="paynow-btn1"><i class="fa fa-check"></i>&nbsp;Enable Autorenewal</button>


		        			</div>

		        			<!-- <div *ngIf="active_plan.data.is_cancelled == 1 && active_plan.data.subscription_amount > 0">

		        			<p class="bill-line"></p>


		        			<button disabled class="paynow-btn1"><i class="fa fa-ban"></i>&nbsp; Subscription Paused</button>
		        			</center>

		        			</div> -->

	        			</div>
	        		</div>

	        		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 billing-history">
	        			<h3 class="billing-head1"><i class="fa fa-clock-o"></i> &nbsp;Billing History</h3>
	        			<p class="bill-line"></p>

	        			<div class="billing-card" *ngFor="let plan of subscribed_plans?.plans">
	        				<div class="card-head txt-overflow">
	        					<h3>{{plan.plan_name}}</h3>
	        				</div>
	        				<div class="card-white-bg">
	        					<div class="table-responsive">
  									<table class="table table-bordered">
  										<tbody>
  											<tr>
												<td>Payment Id</td>
												<td>{{plan.payment_id}}</td>
											</tr>
											<tr>
												<td>Subscribed Date</td>
												<td>{{plan.date}}</td>
											</tr>
											<tr>
												<td>Expiry Date</td>
												<td>{{plan.expiry_date}}</td>
											</tr>
											<tr>
												<td>No Of Account</td>
												<td>{{plan.no_of_account}}</td>
											</tr>
											<tr>
												<td>No Of Month</td>
												<td>{{plan.no_of_month}}</td>
											</tr>
											

											<tr *ngIf='plan?.coupon_amount > 0'>
												<td>Total Amount</td>
												<td>{{plan.currency}}{{plan.total_amount}}</td>
											</tr>

											<tr *ngIf="video?.coupon_amount > 0">
									       		<td>Coupon Code</td>
									       	 	<td>{{plan.coupon_code}}</td>	
									     	</tr>

											<tr *ngIf='plan?.coupon_amount > 0'>
												<td>Coupon Amount</td>
												<td>{{plan.currency}}{{plan.coupon_amount}}</td>
											</tr>

											<tr>
												<td>Paid Amount</td>
												<td>{{plan.currency}}{{plan.amount}}</td>
											</tr>
											<tr>
												<td>Payment Mode</td>
												<td>{{plan.payment_mode}}</td>
											</tr>
										</tbody>
  									</table>
  								</div>
	        				</div>
	        			</div>
	        			
	        			<div class="billing-total text-right">
	        				<h3>Total - {{subscribed_plans.currency}}{{subscribed_plans.amount}}</h3>
	        			</div>
	        		</div>
        		</div>
        	</div>
        	<div class="text-center"  style="margin-top:40px !important"  *ngIf="subscribed_plans?.plans.length <= 0"> 
				<img src="assets/img/no-results.png" class="img-responsive auto-margin">
			</div>
        </div>

    </div>

</div>