<!-- <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})"> -->
<div class="main-content">
    <div class="login-form" style="padding-top: 100px;padding-bottom: 40px;">
    	<div class="">
        	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 billing-white-bg" *ngIf="paid_videos?.length > 0">
	        	<div class="row">
	        		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 zero-padding billing-bg-img" style="background-image: url(assets/img/billing-back.jpg);">
	        			<div class="pay-details-bg text-center">
	        				<div>
	        					<div class="pay-profile-img" style="background-image: url({{profile.picture}});"></div>
	        					<h3 class="white-clr text-center mb-0">{{profile.name}}</h3>
	        				</div>
	        			</div>
	        		</div>
	        		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 billing-history">
	        			<h3 class="billing-head1"><i class="fa fa-clock-o"></i> &nbsp;Payment History</h3>
	        			<p class="bill-line1"></p>
	        			<div class="payment-details top" *ngFor="let video of paid_videos">
	        				<div class="relative">
	        					<a ui-sref="single_video({id : video.admin_video_id})">
			        				<div class="payment-vide-img" [ngStyle]="{ 'background-image': 'url(' + video.picture + ')'}">
			        					<h4 class="payment-video-title">{{video.title}}</h4>
			        				</div>
			        				<div class="video-amount" style="color: #fff">{{video.currency}}{{video.amount}}</div>
		        				</a>
	        				</div>
							<div class="table-responsive">    				
								<table class="table">
								    <tbody>
								      	<tr>
								        	<td>Payment ID</td>
								        	<td>{{video.payment_id}}</td>
								      	</tr>
								      	<tr>
									        <td>Paid date</td>
									        <td>{{video.paid_date}}</td>
								      	</tr>
								      	<!-- <tr>
								       		<td>Status</td>
								       	 	<td>{{}}</td>	
								     	</tr> -->
								     	<tr>
								       		<td>Subscription Type</td>
								       	 	<td>{{video.type_of_subscription}}</td>	
								     	</tr>
								     	<tr>
								       		<td>User Type</td>
								       	 	<td>{{video.type_of_user}}</td>	
								     	</tr>
								     	<tr *ngIf="video.coupon_amount > 0">
								       		<td>Total Amount</td>
								       	 	<td>{{video.currency}}{{video.total_amount}}</td>	
								     	</tr>
								     	<tr *ngIf="video.coupon_amount > 0">
								       		<td>Coupon Code</td>
								       	 	<td>{{video.coupon_code}}</td>	
								     	</tr>
								     	<tr *ngIf="video.coupon_amount > 0">
								       		<td>Coupon Amount</td>
								       	 	<td>{{video.currency}}{{video.coupon_amount}}</td>	
								     	</tr>
	                    				<tr>
								       		<td>Payment Mode</td>
								       	 	<td>{{video.payment_mode}}</td>	
								     	</tr>
								    </tbody>
								 </table>
							</div>	    
	        			</div>
	        		</div>
        		</div>
        	</div>

        	<div class="text-center"  style="margin-top:40px !important"  *ngIf="paid_videos?.length <= 0"> 
				<img src="assets/img/no-results.png" class="img-responsive auto-margin">
			</div>
        </div>

    </div>

</div>