<div class="main-content" >
  <nav class="navbar navbar-default form-navbar" role="navigation">
    <div class="banner-spacing">
      <div class="navbar-header form-header">
        <a class="navbar-brand" routherLink="/">
					<img src="{{site_logo}}" class="hidden-xs">
					<img src="{{site_logo}}" class="visible-xs">
				</a>
      </div>
    </div>
  </nav>

  <div class="content-panel">
    <div class="profiles-gate-container">
      <div class="centered">
        <div class="list-profiles">
          <div class="profile-gate-label">Manage Profiles</div>
          <ul class="choose-profile">
            <li class="profile" *ngFor="let profile of profiles">
              <div>
                <a class="profile-link" routerLink="/edit-profile/{{profile.id}}">
                  <div class="avatar-wrapper">
                    <div class="profile-icon" [style.backgroundImage]="'url('+ profile.picture +')'" style="position: relative;">
                      <div class="edit_sub_profile">
                        <div class="edit-round"><i class="fa fa-pencil"></i></div>
                      </div>
                    </div>
                  </div>
                  <span class="profile-name">{{profile.name}}</span>
                </a>
              </div>
            </li>

            <li *ngIf="profiles?.length < noOfAccount">
              <a routherLink="/add-profile">
                <div class="addProfileIcon icon-tvuiAdd">
                  <i class="fa fa-plus-circle"></i>
                </div>
                <span class="profile-name">Add Profile</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <span class="profile-button preferred-action">
      <a routerLink="/view-profiles">Done</a>
    </span>
    </div>
  </div>
</div>