
<div class="content-wrapper">

    <div class="login-form" style="padding-top:100px; padding-bottom: 40px;">

            <div class="banner-spacing">

            <ul class="card-list row">
                <li class="col-sm-6 col-md-4 card course syllabus topic-javascript" *ngFor="let subscription of subscriptions" >

                    <a class="card-box">
                        <div class="card-progress">
                           {{subscription.title}}
                        </div>

                        <div [ngClass]="{'sub-red-bg': (subscription.popular_status == 1) , 'sub-black-bg': (subscription.popular_status == 0)}" class="sub-black-bg">
                        <!-- <div class="sub-red-bg"> -->
                            <strong class="card-type white-clr">Plan</strong>
                            <h3 class="card-title white-clr">{{subscription.currency}} {{subscription.amount}} / {{subscription.plan}} month</h3>
                        </div>

                        <div class="spacing-30">
                            <strong class="card-type">Maintain Account</strong>
                            <h3 class="card-title"><i class="fa fa-user-plus"></i> {{subscription.no_of_account}}</h3>

                             <p class="card-description">
                            {{subscription.description}}

                         
                            </p>

                        </div>
                    </a>

                    <div class="clearfix"></div>
                  
                    <ul class="card-actions">
                        <li class="card-action resume">
                        
                          <!-- <a class="btn btn-md" ng-class="{'orange-btn': (subscription.popular_status == 1) , 'pink-btn': (subscription.popular_status == 0)}" ui-sref="profile.invoice({subscription_id:subscription.id})">Pay Now</a> -->

                          <a class="btn btn-md" [ngClass]="{'orange-btn': (subscription.popular_status == 1) , 'black-btn': (subscription.popular_status == 0)}" href="/invoice/{{subscription.id}}">Pay Now</a>
                          
                        </li>
                       
                    </ul>


                </li>
            </ul>



            </div>

    </div>
</div>

<div class="clearfix"></div>
