<!-- <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})"> -->
  <div class="main-content">
    <nav class="navbar navbar-default form-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header form-header">
          <a class="navbar-brand" href="/">
            <img src="{{site_logo}}" class="hidden-xs">
            <img src="{{site_icon}}" class="visible-xs">
          </a>
        </div>
      </div>
    </nav> 
    <div class="content-panel">
      <!-- LOGIN FORM 
      ===================================================-->
      <div class="login-form">
        <div class="container">
          <h3 class="login-tit">{{data?.heading}}</h3>		
          <p [innerHtml]="data?.description"></p>			
        </div>
      </div>
      <!-- LOGIN FORM -->
    </div>
  </div>
