<div class="content-wrapper">
  <div class="login-form" style="padding-top:100px;padding-bottom: 40px;">
    <div class="section-padding">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          <div class="white-bg  spacing1 res-spacing">
            <h3 class="select-head text-center text-uppercase">Select Payment</h3>
            <p>
              <span *ngIf="video.type_of_user == 1 "> 
                <small><b>Note: </b> 
                    You are a Normal User. If you are Paid User, you no need to pay the video payment. You can watch the video anytime. If you want to paid user, Please choose plan and continue the same.
                </small>
					    </span> 
						</p>
            <p *ngIf="video.type_of_user == 2">
              <small><b>Note: </b> If you subscribe also , you need to pay for this selected video</small>
            </p>
            <div class="card-1">
                <div class="amount-sec">
                    <h2 class="select-amount">Plans</h2>
                </div>
                <div class="text-sec">
                    <h4 >Subscription plan</h4>
                    <a href="/subscriptions/{{ sub_profile_id }}" class="text-uppercase"><P>Click here to subscribe</P></a>
                </div>
            </div>
            <div class="card-1">
                <div class="amount-sec">
                    <h2 class="select-amount">{{video.currency}}{{video.amount}}</h2>
                </div>
                <div class="text-sec">
                    <h4>Pay per video (<span *ngIf="video.type_of_subscription == 1">One Time Payment</span><span *ngIf="video.type_of_subscription == 2">Recurring Payment</span>)</h4>
                    <a href="/pay_per_view/{{video.admin_video_id}}" class="text-uppercase"><P>Click here to pay per video</P></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="push"></div>
</div>