<div class="main-content form-content bg-img" [style.backgroundImage]="'url('+ AppSettings.common_bg_image +')'">
  <div class="main-content">
    <nav class="navbar navbar-default form-navbar" role="navigation">
    <div class="banner-spacing">
      <div class="navbar-header form-header">
        <a class="navbar-brand" ui-sref="static.index" routerLink="/">
          <img src="{{AppSettings.site_logo}}" class="hidden-xs">
          <img src="{{AppSettings.site_icon}}" class="visible-xs">
        </a>
      </div>
    </div>
  </nav>


  <div class="content-panel"> 

    
     <div class="login-form">
      <div class="">
        <div class="login-form-inner grey-bg">  
          <h3 class="login-tit">Sign Up</h3>
          <form method="post" #signForm="ngForm" (ngSubmit)="signup(signForm)">
            <div class="form-group">
                <label for="exampleInputEmail1">Full Name</label>
                <input type="name" class="form-control login_form" placeholder="Enter Your Name" required ngModel name="name">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control login_form" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" name='email' required ngModel>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control login_form" placeholder="Enter Password" min="6" required ngModel name="password">
            </div>

            <!-- <input type="text" name="login_by" ng-model="login_by" ng-hide="true">

            <input type="text" name="device_type" ng-model="device_type" ng-hide="true">

            <input type="text" name="device_token" ng-model="device_token" ng-hide="true"> -->

            <div>
              <button type="submit" class="btn form-btn" id="sign_up_button">Sign Up</button>
            </div>
          </form>

          <!-- <div class="social-login" ng-show="fb_status || google_status">
                        <form method="POST" action="{{socialUrl}}" ng-show="google_status">
                          <input value="google" name="provider" id="provider" type="hidden">
                            <div class="form-signup-google"> <button type="submit" class="btn"><i class="fa fa-google"></i>Sign in with Google</button> </div>
                        </form>
                        <form method="POST" action="{{socialUrl}}" ng-show="fb_status">
                          <input value="facebook" name="provider" id="provider" type="hidden">
                            <div class="form-signup-facebook"> <button type="submit" class="btn"><i class="fa fa-facebook"></i>Sign in with facebook</button> </div>
                        </form>  
                    </div>

                    <div class="clearfix"></div>  </div>-->

            <div class="form-txt-block">
              <p class="form-txt">Already have an Account? <a ui-sref="static.signin" class="form-link" routerLink="/signin"> Sign In.</a></p>
            </div>
                
      </div>
    </div>


   </div>
  </div>
</div>