<div class="main-content" *ngIf="loadStatus" [style.backgroundImage]="'url('+ AppSettings.common_bg_image +')'">
  <nav class="navbar navbar-default form-navbar" role="navigation">
    <div class="banner-spacing">
      <div class="navbar-header form-header">
        <a class="navbar-brand" href="/">
          <img src="{{AppSettings.site_logo}}" class="hidden-xs">
        </a>
      </div>
    </div>
  </nav>

  <div class="content-panel">

    <!-- Login Form -->
    <div class="login-form">
      <div class="">
        <div class="login-form-inner grey-bg">
          <h3 class="login-tit">Sign In</h3>
          <h6>Sign in to start watching or restarting your membership</h6>
          <form #signForm="ngForm" (ngSubmit)="signin(signForm)">
            <div class="form-group">
              <input type="email" class="form-control login_form" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" required
                ngModel name="email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control login_form" placeholder="Enter Password" required ngModel name="password">
            </div>
            <input type="hidden" name="login_by" ng-model="login_by">
            <input type="hidden" name="device_type" ng-model="device_type">
            <input type="hidden" name="device_token" ng-model="device_token">

            <div>
              <button type="submit" class="btn form-btn" id="sign_in_button">Sign In</button>
            </div>
          </form>
          <!-- <div class="social-login" ng-show="fb_status || google_status">
            <form method="POST" action="{{AppSettings.socialUrl}}" ng-show="google_status">
              <input value="google" name="provider" id="provider" type="hidden">
              <div class="form-signup-google"> <button type="submit" class="btn"><i class="fa fa-google"></i>Sign in with Google</button> </div>
            </form>
            <form method="POST" action="{{AppSettings.socialUrl}}" ng-show="fb_status">
              <input value="facebook" name="provider" id="provider" type="hidden">
              <div class="form-signup-facebook"> <button type="submit" class="btn"><i class="fa fa-facebook"></i>Sign in with facebook</button> </div>
            </form>
          </div> -->
          <div class="clearfix"></div>
          <div class="pull-left1">
            <div class="form-txt-block">
              <p class="form-txt">Don't have an account?  <a ui-sref="static.signup" class="form-link" routerLink="/register">Sign Up</a></p>
            </div>
          </div>
          <div class="pull-right1">

            <div class="forgot form-txt-block">
              <a ui-sref="static.forgot" class="form-link">Forgot your password?</a>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- LOGIN FORM -->
  </div>
</div>